data/etoile_workflow.json
{
  "name": "Etoile - JARVIS Commander Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.5.0.2:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer sk-lm-LOkUylwu:1PMZR74wuxj7OpeyISV7"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"qwen/qwen3-30b-a3b-2507\",\"messages\":[{\"role\":\"system\",\"content\":\"Classifie cette demande en UNE categorie: code, analyse, trading, systeme, web, simple. Reponds UNIQUEMENT avec le mot-cle.\"},{\"role\":\"user\",\"content\":\"{{ $json.input }}\"}],\"temperature\":0.1,\"max_tokens\":32}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "M1 Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.choices[0].message.content }}",
              "rightValue": "code",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Route Code?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.26:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer sk-lm-keRZkUya:St9kRjCg3VXTX6Getdp4"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"deepseek-coder-v2-lite-instruct\",\"messages\":[{\"role\":\"system\",\"content\":\"Tu es un expert code. Ecris du code fonctionnel et complet.\"},{\"role\":\"user\",\"content\":\"{{ $('Start').first().json.input }}\"}],\"temperature\":0.3,\"max_tokens\":4096}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "M2 Code (deepseek)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.5.0.2:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer sk-lm-LOkUylwu:1PMZR74wuxj7OpeyISV7"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"qwen/qwen3-30b-a3b-2507\",\"messages\":[{\"role\":\"system\",\"content\":\"Tu es un analyste IA expert. Analyse en profondeur et structure ta reponse.\"},{\"role\":\"user\",\"content\":\"{{ $('Start').first().json.input }}\"}],\"temperature\":0.4,\"max_tokens\":4096}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "M1 Analyse (qwen3-30b)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.5.0.2:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer sk-lm-LOkUylwu:1PMZR74wuxj7OpeyISV7"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"qwen/qwen3-30b-a3b-2507\",\"messages\":[{\"role\":\"system\",\"content\":\"VERIFICATION QUALITE. Evalue ce resultat: score 0-1, problemes, recommandations. Reponds en JSON.\"},{\"role\":\"user\",\"content\":\"{{ $json.choices[0].message.content }}\"}],\"temperature\":0.2,\"max_tokens\":512}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "M1 Verify Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "synth1",
              "name": "synthesis",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "synth2",
              "name": "pipeline",
              "value": "Etoile Commander",
              "type": "string"
            },
            {
              "id": "synth3",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Synthesize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [{"node": "M1 Classify", "type": "main", "index": 0}]
      ]
    },
    "M1 Classify": {
      "main": [
        [{"node": "Route Code?", "type": "main", "index": 0}]
      ]
    },
    "Route Code?": {
      "main": [
        [{"node": "M2 Code (deepseek)", "type": "main", "index": 0}],
        [{"node": "M1 Analyse (qwen3-30b)", "type": "main", "index": 0}]
      ]
    },
    "M2 Code (deepseek)": {
      "main": [
        [{"node": "M1 Verify Quality", "type": "main", "index": 0}]
      ]
    },
    "M1 Analyse (qwen3-30b)": {
      "main": [
        [{"node": "M1 Verify Quality", "type": "main", "index": 0}]
      ]
    },
    "M1 Verify Quality": {
      "main": [
        [{"node": "Synthesize", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {"name": "jarvis"},
    {"name": "commander"},
    {"name": "etoile"}
  ]
}
